.carouselContainer{
    /* border:1px solid blue; */
    width:300px;
    /* height:400px; */
    margin:0 auto;
    position:relative;
    overflow: hidden;
}
.carouselContainer .left-arrow,.carouselContainer .right-arrow{

    color:#ffffff88;
    position:absolute;
}

.carouselContainer .left-arrow{
    left:0;
    top:150px;
}

.carouselContainer .right-arrow{
    right:0;
    top:150px;
    
}
.carouselContainer #teamMemberList{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
}

.teamContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamContainer img{
    position:absolute;
    width:160px;
    border-radius: 30px;
    margin:0 0 30px 0;
    display:none;
}

.teamImageContainer{
    position:relative;
    width:160px;
    height:230px;
}

.teamContainer p{
    color:white;
    margin:0;
    padding:0;
}

.teamContainer i{
    margin:30px 0 0 0;
    color:#14bf98;
}

.memberCountPage{
    display:flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}

.countPage{
    height:5px;
    width:20px;
    background:#ffffff83;
    margin:20px 5px 0 5px;
}

.countPage0{
    /* background:#ffffff; */
}